<!-- <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view> -->

<ion-view view-title="bitconinApp v1.0">
    <ion-content>
        <div style="margin-top: 10px; text-align: center">
            <img src="img/bitcoin-logo.png" style="width: 80%">
        </div>

        <div style="text-align: center; margin-top: 50px">
            <a href="#/app/details" class="button button-outline button-light ">
                View details
            </a>
        </div>

        <div ng-hide="{{fileExist}}" class="card">
            <div class="item item-text-wrap" style="color: orange">
                {{settings}}
            </div>
            <!-- indicatore visivo se tutto va bene con i workes -->
            <!-- cosa c'è di nuovo per gli aggiornamenti -->
        </div>

    </ion-content>
    <div class="bar bar-footer bitcoin-bg-color">
        <h6 class="bitcoin-font-color">{bitcoinApp} Giovanni Buscarino &copy;</h6>
    </div>
</ion-view>
