<ion-view view-title="Settings">
    <ion-content>
        <div class="item item-divider">
            mining.bitcoin.cz <br>your current token
        </div>
        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input ng-model="token" type="text" placeholder="token">
                </label>
                <button ng-click="save(token)" class="button button-small">
                    save
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>